.create-title {
  width: 30vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.create-description {
  width: 30vw;
  height: 15vh;
  margin-top: 5px;
  margin-bottom: 5px;
}

.update-title {
  width: 30vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.update-description {
  width: 30vw;
  height: 15vh;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

/* .container {
  background-color: powderblue;
} */
